* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content {
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #0a0b0c;
  z-index: 1;
  opacity: 0.8;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
  font-family: "Lobster", cursive;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

@media (max-width: 960px) {
  .content {
    padding: 0 3rem 0 rem;
  }
}

/* Para los servicios */
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  /* padding: 2em; */
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.testimoniales {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(100px, auto);
}
.testimonial {
  background-color: #555c53; /*En este espacio le ponemos el color a la seccion Testimoniales*/
  padding: 2rem; /*le ponemos un espacio dentro del cuadro verde*/
  color: #ffffff; /*Color de la letra*/
  border-radius: 1.5rem; /*poner un estilo a la franja de testimoniales redondo en las esquinas*/
  margin-top: 2rem;
}

/*Uso de las comillas*/
.testimonial blockquote::before {
  /*Poner algo antes de cieto elemento*/
  content: "";
  background-image: url(../images/comilla.svg);
  background-repeat: no-repeat;
  height: 3rem; /*Le damos una altura a las comillas*/
  width: 3rem; /*le damos un ancho a las comillas*/
  display: block; /*Si no hay un display block no se puede monstrar la imagen*/
  position: absolute; /*Posicional un elemento en un lugar en especifico*/
  left: -2rem; /*Separa las commilas a la izquierda*/
}
/*Casos de exito*/
.testimonial blockquote {
  position: relative;
  padding-left: 1.5rem; /*Posicional todo el elemento del texto hacia la izquierda*/
  /*font-weight: 200; Cambiar el tamaño de la letra para que sea un poco mas delgada*/
}
.testimonial p {
  /*Con esto llamamos una parte de nuestro codigo en un lugar especifico*/
  text-align: right; /*Alinear hacia la derecha el autor del testimonial*/
  font-size: 1rem;
}

/*Footer*/
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 0, 0);
   color: white;
   text-align: center;
}
